<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display </title>
</head>
<body>
        <table border="2">
            <tr>

                <th>name</th>
                <th>dob</th>
                <th>email</th>
                <th>phno</th>



            </tr>
<tr>
            {% for rec in records %}
            <td>  {{ rec.name}}     </td>
<td>  {{ rec.dob }}     </td>
<td>  {{ rec.email }}     </td>
<td>  {{ rec.phno }}     </td>
</tr>
            {% endfor %}
        </table>
<a href="home.html">Click here</a>

</body>
</html>
