<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is Home Page</title>
</head>
<body>
        <h1>Form Page</h1>
    <form  action="./insert"  id="form" method="get">
        Name: <input type="text" name="name" required> <br> <br>
        Date Of Birth:<input type="date" id="dob" name="dob" max="2002-01-01" required><br><br>
         E-mail:<input type="email" name="email" required> <br> <br>
        Phone No:<input type="tel" name="phno" pattern="[6-9]{1}[0-9]{9}" required > <br>
<br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</body>
</html>